@model App.DAL.DTO.SavedComparison

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SavedComparison</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comparer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comparer!.FirstName)
        </dd>
         <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Comparer!.PersonInMatches!.Count)
                </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comparable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comparable!.FirstName)
        </dd>
        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Comparable!.PersonInMatches!.Count)
                        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
